<% include ./partials/header %>

<div class="ui segment main text">
 <h1>New Post</h1>
<form class="ui form" action="/blogs" method="post">
  <div class="field">
      <label>Title</label>
    <input type="text" name="blog[title]" placeholder="title" id="">
  </div>
  <div class="field">
    <label>Image URL</label>
    <input type="text" name="blog[image]" placeholder="image" id="">
  </div>
  <div class="field">
    <label>Blog Content</label>
    <textarea name="blog[body]" id="" cols="30" rows="10"></textarea>
  </div>
  <input class="ui brown basic button" type="submit">
</form>
</div>
<% include ./partials/footer %>
